.border {
    /*-fx-background-image: url("CampFire.jpg");


    -fx-background-repeat: stretch;
    -fx-background-size: 1366 768;
    -fx-background-position: center center;
    -fx-background-color: red;
    -fx-background-color: transparent;
    */
    -fx-background-color:  #01192F;
}
